/* 

CSS FOR THE SITE TEMPLATE (LOGIN BUTTON AND MAIN OFF CANVAS MENU) 

*/


/*

MAIN MENU

*/

.title {
	font-family: 'Indie Flower', cursive;
}


/*

LOGIN CONTAINER

*/

/* Add margin to the button  */

.welcome-options-container {
	
	/*width: 80vw;
	margin: 5vh auto;
	height: 50vh;*/

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.welcome-options-container h1 {

	text-align: center;
}




