<!-- Off Canvas Menu For JoJo Viewing and Manipulation -->
<template name="main_off_canvas_menu">
	<div class="fixed header-container off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">
			<nav class="tab-bar">
					
					<!-- Main menu area -->
					<section class="middle tab-bar-section">
						<!-- Display name of currentJoJo (or Sandbox) -->
						<h1 class="title">{{{jojoIcon}}} {{> yield "title"}}</h1>
					</section>

					<!-- Left menu button -->
					<section class="left-small">
						<a class="left-off-canvas-toggle menu-icon"><span></span></a>
					</section>
					
					<!-- Right menu button -->
					<section class="right-small">
						<a class="right-off-canvas-toggle menu-icon"><span></span></a>
					</section>
			</nav>
			<!-- Left side menu  -->
			<nav class="left-off-canvas-menu" id="leftMenu">
				<ul class="off-canvas-list">
					<li><a href="/profile">{{{jojoIcon}}} {{currentUserName}}</a></li>
		
					<li><label>Select A JoJo</label></li>
					<li class="has-submenu"><a id="changejojo">My JoJos</a>
						<ul class="left-submenu">
							<li class="back"><a>Back</a></li>
								{{> select_jojo_submenu}}
							</ul></li>
					<li class="has-submenu"><a id="publicjojo">Public JoJos</a>
						<ul class="left-submenu">
							<li class="back"><a>Back</a></li>
							<li><label>Find a JoJo</label></li>
								{{> public_jojo_submenu}}
							</ul></li>
					{{#if currentJoJoId}}
						<li><label>{{currentJoJoName}}</label></li>
						<li><a href="/viewentries/{{currentJoJoId}}">All Entries</a></li>
						<!-- <li><a href="#" id="random-entries">Random Entry</a></li> -->
					{{/if}}
					<li class="divider"></li>
					<li><a id="user-logout" class="button">Logout</a></li>
				</ul>
			</nav>
			
			<!-- Right side menu -->
			<nav class="right-off-canvas-menu" id="rightMenu">
				<ul class="off-canvas-list">
					
					{{#if currentJoJoId}}
						<li><a href="/newentry/{{currentJoJoId}}">New Entry</a></li>
					{{/if}}
					
					<li><a href="/createnewjojo">Create a JoJo</a></li>
				</ul>
			</nav>
				
			<!-- ALL MAIN CONTENT WILL BE DISPLAYED HERE -->
			<!-- ONE COLLUMN FOR MOBILE / SMALL / MEDIUM SCREENS -->
			<!-- FOR LARGER SCREENS, TWO COLLUMNS TO FULLY UTILIZE FEATURES -->
		
			<section class="main-section" id="main-container">
				{{> yield}}
			</section>

			<section class="second-section" id="second-container">
				{{> yield "second activity"}}
			</section>

			<a class="exit-off-canvas"></a>
		</div>
	</div>
</template>

<!-- Selecting from your private jojos -->
<template name = "select_jojo_submenu">
	{{#each jojos}}
		<li><a href="/jojo/{{this._id}}" class="activateJoJo">{{this.name}}</a></li>
	{{/each}}
</template>

<!-- Fill this in -->
<template name = "public_jojo_submenu">
	<!-- Soon to replaced with options to search by name, most popular, your favorites, trending -->
	{{#each jojos}}
		<li><a href="/jojo/{{this._id}}" class="activateJoJo">{{this.name}}</a></li>
	{{/each}}
</template>