/*

MAIN CONTAINER:

1. Holds entries, the edit form box, etc.

*/

/* Give the main section a fixed height and overflow auto to allow the tab bar to stay fixed and the content scroll below it */

.main-section {
	height: calc(100vh - 45px);
	overflow: auto;

	/*display: flex;
	flex-direction: column;
	justify-content: space-around;*/
}

/* 

GLOBAL STYLES FOR ICONS, FONTS, ...

*/

/* Sizing for the small jojo icon */
.small-icon {
	height: 40px;
}

/* Set up fonts */
.indie-flower {
	font-family: 'Indie Flower', cursive;
}

.dancing-script {
	font-family: 'Dancing Script', cursive;
}

/*body * {
	font-family: 'Nunito', sans-serif;
}
*/