/*

MAIN CONTAINER:

1. Holds entries, the edit form box, etc.

*/


/* Give the main section a fixed height and overflow auto to allow the tab bar to stay fixed and the content scroll below it */

.main-section {
	height: 60vh;
	overflow: auto;
}

/*

FORM MAKER:

FORM SANDBOX

1. Contains the form title input, the droppable div for user inputs, and the toolbox
2. Comes up as Modal

FORM TEMPLATE CONTAINER:

1. Contains grid divs, starting with 5
2. Input containers start with class 'empty'
3. When an input is added, the input container swaps 'empty' for 'full'
3. 'Empty' row divs have a fixed height so the form starts with a size
4. 'Full' row divs snap to item size

*/

.formMakerButtons {
	display: none;
}

.formSandbox {

	display: none;

	top: 5vh;

	overflow: auto;

	/*styling*/
	border-radius: 10px;
	border: 2px solid #007095;
	box-shadow: 0 0 10px 3px #007095;
}

.formTemplateContainer {

	overflow: auto;

	height: 50vh;

	margin-top: 20px;

	/*styling*/
	border-radius: 10px;
	border: 2px solid #007095;
	box-shadow: 0 0 10px 3px #007095;

	background: rgba(120,120,120,.2);
}

.tabMenuHolder {
	margin-top: 20px;
}

/* Positioning and sizing for various items */
.input-container.empty {
	height: 10vh;
}

.toolboxHolder {

	margin-top: 30px;
}

.formMakerButtons {
	
	/* Size and position */
	margin-top: 2em;
}

/* Active / inactive styling */

.empty.hoverableContainer:hover {
	background: rgba(120,120,120,.4);
}

.full.hoverableContainer:hover {
	border: 2px solid #007095;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px #007095;
}

.active-input {
	text-shadow: 3px 3px #007095 ;
}

/* Being edited styling */

.beingEdited {
	border: 2px solid #007095;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px #007095;
}


/* Input styling */

.displayOnly input, .displayOnly select, .displayOnly textarea {
	margin: 6px 6px 0 0;
}

.displayOnly {
	margin-top: 6px;
}

.displayOnly p {
	margin: 0;
}

/* 

ENTRY CONTAINER:

1. Holds each individual entry

*/

.entryContainer {
	margin-top: 2em;
}



/* 

Off Canvas Menus 

1. Different menus displayed at different times

*/

/* No jojoMaker toolkit at start */
#jojoMaker-offCanvas {
	display: none;
}