/* 

CSS FOR THE SITE TEMPLATE (LOGIN BUTTON AND MAIN OFF CANVAS MENU) 

*/


/*

MAIN MENU

*/

.title {
	font-family: 'Indie Flower', cursive;
}


/*

LOGIN CONTAINER


Note: must style with ID to override defaults from Foundation / Meteor (not even sure which...)
*/

/* Add margin to the button  */

.login-container {
	
	/*width: 80vw;
	margin: 5vh auto;
	height: 50vh;*/

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.login-container h1 {

	text-align: center;
}

.login-container button {

	margin-top: 1em;
}


/*  Change the appearance of the text */
#login-buttons a.login-link-text {

	text-decoration: none;
	color: white;
}


