<!-- TEMPLATE FOR CREATING NEW ENTRIES WITHIN A JOJO -->
<template name="new_entry">
	<div class="form-container row">
		<form id="entry-form" class="entry-form" data-abide>
			<fieldset>
				<legend>{{form.legend}}</legend>
				<div class="row">
					{{#each inputContainers}}
						{{> entry_form_input_container}}
					{{/each}}
					{{#each form.inputs}}
						{{inputDisplay}}
					{{/each}}
				</div>
			</fieldset>
		</form>
	</div>
</template>

<!-- CONTAINER FOR INDIVIDUAL INPUTS -->
<template name="entry_form_input_container">
	<div class="small-12 medium-12 large-6 columns entry-form-input-container"></div>
</template>

<!-- TEMPLATE FOR INDIVIDUAL INPUTS -->
<template name="input">
		<label for="{{name}}">{{prompt}}</label>
		<p>{{prompt}}</p>
		<!-- {{{el}}} -->
</template>
