<!-- TEMPLATE FOR CREATING NEW ENTRIES WITHIN A JOJO -->
<template name="new_entry">
	
	<!-- Set the title -->
	{{#contentFor "title"}}
		New Entry: {{currentJoJoName}}
	{{/contentFor}}

	<div class="form-container">
		<form id="entry-form" class="entry-form" data-abide>
			<fieldset>
				<legend>{{form.legend}}</legend>
				<div class="row">
					{{#each form.inputs}}
						{{> input}}
					{{/each}}
					<div class="small-4 small-offset-8 end columns">
						<button class="button" type="submit" id="submit-form">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</template>

<!-- TEMPLATE FOR INDIVIDUAL INPUTS -->
<template name="input">
	<div class="small-12 medium-8 large-6 end columns entry-form-input-container">
		<label for="{{name}}">{{prompt}}</label>
		{{{el}}}
		{{#if required}}<small class="error">This field is required</small>{{/if}}
	</div>
</template>
